.resetPasswordContainerPool {
    height: 100vh;
    width: 100%;
    background-color: #ECEEFE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetPasswordContainer {
    width: 510px;
    height: 392px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 15px;
    margin-top: 132px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow_back {
    position: absolute;
    left: 29px;
    top: 60px;

    &:hover {
        cursor: pointer;
    }
}

.resetPasswordContainerHeadline {
    font-size: 38px;
    font-weight: bold;
    color: #444DF2;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.resetPasswordIntroduction {
    font-size: 17px;
    padding-top: 23px;
    text-align: center;
}

.resetPasswordIntroduction2 {
    font-size: 17px;
    padding-top: 23px;
    text-align: center;
    color: #686868;
}

.header {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    padding-left: 46px;
}

.daBubbleLogo {
    width: 90px;
    z-index: 2;
}


.text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
    color: black;
    z-index: 1;
}

.formContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordInputContainerOne {
    width: 79%;
    height: 100%;
    margin-top: 21px;
    position: relative;
}

.passwordInputContainerTwo{
    width: 79%;
    height: 100%;
    margin-top: 21px;
    position: relative;
    margin-top: 20px;
}

.mail {
    position: absolute;
    left: 23px;
    top: 18px;
}

.lock {
    position: absolute;
    left: 23px;
    top: 18px;
}

.passwordInputContainerOne {
    width: 79%;
    height: 100%;
    margin-top: 21px;
    position: relative;
}

.passwordInputContainerTwo {
    width: 79%;
    height: 100%;
    margin-top: 21px;
    position: relative;
}

.firstLastNameInput {
    width: 100%;
    height: 50px;
    border-radius: 28px;
    text-indent: 60px;

    outline: none;
    border: none;
    background-color: #ECEEFE;

    &:focus {
        border: solid 0.5px #797EF3;
    }
}

.buttonsContainer {}

.nextButton {
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: #444DF2;
    margin-right: 15px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    color: white;
    margin-top: 30px;
    position: relative;
    top: 15px;
    left: 138px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #8389fd;
    }
}

.footer {
    margin-top: 60px;
}

.impressum {
    font-size: 16px;
    color: #8389fd;
    padding-right: 30px;
}

.datenschutz {
    font-size: 16px;
    color: #8389fd;
    padding-left: 30px;

}

@media(max-width: 1100px) {

    .daBubbleLogo {
        position: absolute;

        width: 80px;
        animation-direction: normal;
        animation-delay: 250ms;
        z-index: 2;
    }

    .text {
        font-size: 30px;
        position: relative;
        left: 91px;
    }
}

@media(max-width: 555px) {

    .logoContainer {
        position: relative;
        left: 18%;
        top: 81%;
    }

    .resetPasswordContainer {
        width: 443px;
    }

    .resetPasswordContainerHeadline {
        font-size: 29px;
    }

    .resetPasswordIntroduction {
        font-size: 16px;
    }

    @media(max-width: 480px) {
        .resetPasswordContainer {
            width: 396px;
        }

        .resetPasswordContainerHeadline {
            font-size: 26px;
        }

        .arrow_back {
            top: 58px;
        }

        .resetPasswordIntroduction {
            font-size: 15px;
        }

        .nextButton {
            width: 124px;
            height: 46px;
            left: 101px;

        }
    }
}

@media(max-width: 420px) {

    .resetPasswordContainer {
        width: 344px;
        height: 397px;
    }

    .resetPasswordContainerHeadline {
        font-size: 21px;
    }

    .resetPasswordIntroduction {
        font-size: 15px;
    }

    .resetPasswordIntroduction2 {
        font-size: 15px;
    }

    .firstLastNameInput {
        height: 43px;
    }

    .mail {
        top: 16px;
    }

    .lock {
        top: 16px;
    }
    
    .nextButton {
        width: 118px;
        height: 42px;
        left: 89px;
    }

    .logoContainer {
        left: 12%;
    }
}

@media(max-width: 370px) {

    .resetPasswordContainer {
        width: 308px;
    }

    .arrow_back {
        left: 17px;
    }

    .logoContainer {
        left: 5%;
    }

}