<!--<div *ngIf="channelFirebaseService.messageChoosedPerson">

    <div *ngIf="channelFirebaseService.currentChannel" class="channelHeader">
        <img *ngIf="channelFirebaseService.openMessageToUserInformations.image.startsWith('avatar')"
            class="imageToOpeningMessage"
            [src]="'/assets/img/avatars/' + channelFirebaseService.openMessageToUserInformations.image + '.png'"
            class="participants" alt="Avatar Image">
        <img *ngIf="!channelFirebaseService.openMessageToUserInformations.image.startsWith('avatar')"
            [src]="channelFirebaseService.openMessageToUserInformations.image" class="imageToOpeningMessage"
            alt="User Image">
    </div>


    <div class="nameImageContainer">
        <img *ngIf="channelFirebaseService.openMessageToUserInformations.image.startsWith('avatar')"
            class="imageToOpeningMessage"
            [src]="'/assets/img/avatars/' + channelFirebaseService.openMessageToUserInformations.image + '.png'"
            class="participants" alt="Avatar Image">
        <img *ngIf="!channelFirebaseService.openMessageToUserInformations.image.startsWith('avatar')"
            [src]="channelFirebaseService.openMessageToUserInformations.image" class="imageToOpeningMessage"
            alt="User Image">
        <img src="assets/img/avatars/{{channelFirebaseService.openMessageToUserInformations.image}}.png">--------
        <span class="recipientName">Noah Braun</span>
    </div>

    <span>Diese Unterhaltung findet nur zwischen {{'@Noah Braun'}} und dir statt.</span>
</div>-->



<div *ngIf="channelFirebaseService.createNewMessage" class="createYourMessageContainer">
    <h2>Neue Nachricht</h2>

    <div class="inputContainer">
        <div>
            <input [formControl]="searchControl" class="inputSearch" type="text" #privateMessages
                placeholder="code learning durchsuchen">
            <img class="search" src="assets/img/search.png">
        </div>

        <div *ngIf="filteredItems.length > 0" class="results-dropdown">
            <span *ngFor="let item of filteredItems" class="result-item"
                (click)="channelFirebaseService.openMessageToUser(item)">{{item.firstLastName }}
                <b>{{ item.firstLastName}}</b></span>
        </div>

    </div>
</div>

<div class="chatContainer">

    <div class="messageContainerPool">
        <div class="messageContainer" *ngFor="let message of channelFirebaseService.allMessages">

            <div class="timestampContainer non-selectable">
                <img class="postLine" src="assets/img/line.png">
                <span class="Date">{{ getFormattedDate(message) }}</span>
            </div>

            <div
                [ngClass]="message.authorOfMessage == userFirebaseService.uid ? 'myPostContentContainer' : 'postContentContainer'">
                <img class="postImage" src="assets/img/avatars/avatar1.png">

                <div [ngClass]="message.authorOfMessage == userFirebaseService.uid ? 'myPostContent' : 'postContent'">
                    <div class="nameAndAnswerAndTime">
                        <div
                            [ngClass]="message.authorOfMessage == userFirebaseService.uid ? 'myPostNameAndQuestion' : 'nameAndQuestion'">
                            <span
                                (click)="openDialog('0ms', '0ms'); channelFirebaseService.getProfileInformations(message)"
                                [ngClass]="message.authorOfMessage == userFirebaseService.uid ? 'myName' : 'name'">{{message.authorName}}</span>
                            <span class="time">{{ getFormattedTime(message) }}</span>
                        </div>
                        <div
                            [ngClass]="message.authorOfMessage == userFirebaseService.uid ? 'myPostQuestionContainer' : 'questionContainer'">
                            <span
                                [ngClass]="message.authorOfMessage == userFirebaseService.uid ? 'myQuestion' : 'question'">
                                {{message.textOfMessage}}
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="iconsInputContainerPool">

        <div *ngIf="channelFirebaseService.messageChoosedPerson">

            <div class="nameImageContainer">
                <img *ngIf="channelFirebaseService.openMessageToUserInformations.image.startsWith('avatar')"
                    class="imageToOpeningMessage"
                    [src]="'/assets/img/avatars/' + channelFirebaseService.openMessageToUserInformations.image + '.png'"
                    class="participants" alt="Avatar Image">
                <img *ngIf="!channelFirebaseService.openMessageToUserInformations.image.startsWith('avatar')"
                    [src]="channelFirebaseService.openMessageToUserInformations.image" class="imageToOpeningMessage"
                    alt="User Image">
                <!--<img src="assets/img/avatars/{{channelFirebaseService.openMessageToUserInformations.image}}.png">-->
                <span
                    class="recipientName">{{channelFirebaseService.openMessageToUserInformations.firstLastName}}</span>
            </div>

            <span>Diese Unterhaltung findet nur zwischen
                {{channelFirebaseService.openMessageToUserInformations.firstLastName}} und dir statt.</span>
        </div>



        <div class="inputPostContainer" *ngIf="channelFirebaseService.inputMessage">
            <input placeholder="Type a message" type="text" name="textarea" [(ngModel)]="textArea" #privateMessage
                class="inputPost">

            <div class="iconsInputContainer">
                <div class="allIcons">
                    <button class="addPost" mat-icon-button><img class="addPost" src="assets/img/addPost.png"></button>
                    <img class="postLine" src="assets/img/postLine.png">

                    <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
                        title="Choose your emoji"></emoji-mart>


                    <button mat-icon-button><img class="emojiPost" src="assets/img/addEmojiPost.png"></button>
                    <button mat-icon-button><img class="markSomeone" src="assets/img/markSomeone.png"></button>
                </div>

                <button [disabled]="!channelFirebaseService.openMessageToUserInformations" (click)="sendMessage(privateMessage.value)" mat-icon-button><img class="send"
                        src="assets/img/send.png"></button>
            </div>

        </div>
    </div>

</div>