.createYourMessageContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 70px;
    margin-top: 20px;
}

.inputSearch {
    width: 100%;
    height: 60px;
    border-radius: 43px;
    text-indent: 60px;
}

.inputContainer {
    width: 366%;
    height: 60px;

    position: relative;
}

.results-dropdown {
    z-index: 99;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.result-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: fit-content;
    cursor: pointer;
    margin-left: 30px;

    &:hover {
        background-color: #c0c2fd;
    }
}

.search {
    width: 27px;
    height: 27px;

    position: absolute;
    right: 39px;
    top: 16px;
}

.imageToOpeningMessage {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 15px;
}

.nameImageContainer {
    display: flex;
    display: flex;
    align-items: center;
}



.recipientName {
    margin-left: 20px;
}

.chatContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.iconsInputContainerPool {
    width: 98.8%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.iconsInputContainerPool2 {
    width: 98%;
    background-color: white;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.inputPostContainer {
    width: 85%;
    height: 170px;
    border-radius: 21px;
    margin-top: 35px;
    border: 1px solid;
    //padding-bottom: 20px;
    z-index: 1;
    background-color: white;



    display: flex;
    flex-direction: column;
}

.inputPost {
    width: 98.3%;
    height: 132%;
    border: solid 1px black;
    border-radius: 21px;
    outline: none;
    border: none;
}

.iconsInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allIcons {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.send {
    margin-right: 20px;
    cursor: pointer;
}

.addPost {
    margin-right: 16px;
    cursor: pointer;
}

.postLine {
    margin-right: 13px;
}

.emojiPost {
    margin-right: 13px;
    cursor: pointer;
}

.markSomeone {
    cursor: pointer;
}

.emoji-mart {
    background-color: black;
    position: absolute;
    bottom: 30px;
    left: 143px;
    z-index: 1;
}

.myPostContentContainer {

    padding-right: 44px;
    padding-top: 18px;
    padding-bottom: 22px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    height: 20%;
    display: flex;
    align-items: center;
    margin-top: 19px;

    &:hover {
        background-color: #ECEEFE;
    }


    &:hover .myEmojiContainer {
        display: flex;
    }
}


.postContentContainer {
    padding-left: 44px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }

    &:hover .question {
        background-color: white;
    }

    &:hover .emojiContainer {
        display: flex;
    }
}


.myPostQuestionContainer {
    min-height: 77px;
    padding-left: 50px;
    padding-right: 77px;
}

.questionContainer {
    min-height: 77px;
    padding-left: 50px;
    padding-right: 77px;
}

.myPostContent {
    margin-right: 30px;

    display: flex;
    flex-direction: column;
}

.postContent {
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}

.nameAndAnswerAndTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myPostNameAndQuestion {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: row-reverse;

}

.myName {
    margin-left: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #797EF3;
    }
}

.name {
    margin-right: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #797EF3;
    }
}

.postImage {
    width: 50px;
    height: 50px;
}



.answerContainer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.myQuestion {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 62px;
    padding-right: 50px;
    width: 93%;
    display: flex;
    align-items: center;
    color: white;
    background-color: #ECEEFE;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #797EF3;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.question {
    width: 353px;
    min-height: 49px;
    display: flex;
    align-items: center;
    background-color: #ECEEFE;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
}

.timestampContainer {
    width: 100%;
    margin-bottom: 50px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.non-selectable {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by most browsers */

    position: relative
}

.postLine {
    width: 94%;
    height: 2px;
    margin-right: 13px;
}

.Date {
    position: absolute;
    height: 35px;
    width: 149px;
    border: 1px solid black;
    border-radius: 19px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.messageContainer {
    width: 100%;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
}

.messageContainerPool {
    overflow-y: auto;
    padding-bottom: 257px;
    width: 100%;
}


@media(max-width:850px) {
    .question {
        width: 234px;
    }

    .questionContainer {
        padding-left: 0;
    }

    .inputContainer {
        width: 169% !important;
    }
}




@media(max-width: 510px) {

    .postLine {
        width: 89%;
    }

    .myPostQuestionContainer {
        padding-left: 0;
        padding-right: 23px;
    }

    .question {
        width: 189px;
    }

    .myQuestion {
        width: 50%;
    }
}

@media(max-width: 940px) {

    .inputContainer {
        width: 232%;
    }

}


@media(max-width: 390px) {

    .inputContainer {
        width: 159% !important;
        right: 40px;
    }

    .search {
        
        right: 16px;
    }

}





