.uploadImageContainerPool {
    height: 100vh;
    width: 100%;
    background-color: #ECEEFE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    padding-left: 46px;
}

.daBubbleLogo {
    width: 90px;
    z-index: 2;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color: black;
    z-index: 1;
}

.uploadImageContainer {
    width: 510px;
    height: 647px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 15px;
    //position: relative;
    //top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadImageContainerHeadline {
    font-size: 41px;
    font-weight: bold;
    color: #444DF2;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.headLineContainer {
    display: flex;
    align-items: center;
}

.arrowBack {
    width: 20px;
    height: 18px;
    position: relative;
    top: 15px;
    right: 15px;
}

.personCircle {
    border-radius: 76px;
    width: 163px;
    height: 152px;
    background-color: #797EF3;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.newUserName {
    margin-top: 40px;
    font-size: 35px;
}

.avatarsContainer {
    margin-top: 23px;
}

.avatarsImages {
    margin-top: 23px;
}

.avatarsText {
    font-size: 18px;
}

.uploadButton {
    width: 164px;
    height: 48px;
    border-radius: 28px;
    border: 0.5px #444DF2 solid;
    margin-left: 15px;
    color: #444DF2;
    background-color: white;
    font-weight: bold;
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #444DF2;
        color: white;
    }
}

.avatarsContainer img {
    margin-right: 8px;
    margin-left: 8px;
}


.uploadContainer {
    width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadText {
    font-size: 18px;
}

.nextButton {
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: #444DF2;
    margin-right: 15px;
    font-weight: bold;
    font-size: 17px;
    border: none;
    color: white;
    margin-top: 30px;
    position: relative;
    top: -2px;
    left: 166px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #8389fd;
    }
}