.uploadImageContainerPool {
    height: 100vh;
    width: 100%;
    background-color: #ECEEFE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    padding-left: 46px;
}

.daBubbleLogo {
    width: 90px;
    z-index: 2;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color: black;
    z-index: 1;
}

.uploadImageContainer {
    width: 510px;
    height: 647px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 15px;
    //position: relative;
    //top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadImageContainerHeadline {
    font-size: 41px;
    font-weight: bold;
    color: #444DF2;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.headLineContainer {
    display: flex;
    align-items: center;
}

.arrowBack {
    width: 20px;
    height: 18px;
    position: relative;
    top: 15px;
    right: 15px;
}

.personCircle {
    border-radius: 76px;
    width: 163px;
    height: 152px;
    background-color: #797EF3;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.newUserName {
    margin-top: 40px;
    font-size: 35px;
}

.avatarsContainer {
    margin-top: 23px;
}

.avatarsImages {
    margin-top: 23px;
}

.avatarsText {
    font-size: 18px;
}



.uploadButton {
    width: 164px;
    height: 48px;
    border-radius: 28px;
    border: 0.5px #444DF2 solid;
    margin-left: 15px;
    color: #444DF2;
    background-color: white;
    font-weight: bold;
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #444DF2;
        color: white;
    }
}

.avatarsContainer img {
    margin-right: 8px;
    margin-left: 8px;
}


.uploadContainer {
    width: 100%;
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadText {
    font-size: 18px;
}

.nextButton {
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: #444DF2;
    margin-right: 15px;
    font-weight: bold;
    font-size: 17px;
    border: none;
    color: white;
    margin-top: 30px;
    position: relative;
    top: -2px;
    left: 166px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #8389fd;
    }
}

.footer {
    margin-top: 60px;
}

.impressum {
    font-size: 16px;
    color: #8389fd;
    padding-right: 30px;

}

.datenschutz {
    font-size: 16px;
    color: #8389fd;
    padding-right: 30px;

}


@media(max-width: 600px) {

    .uploadImageContainerPool {
        justify-content: center;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .logoContainer {
        width: 239px;
    }

    .uploadImageContainer {
        width: 450px;
    }

    .uploadImageContainerHeadline {
        font-size: 32px;
    }

    .personCircle {
        width: 130px;
        height: 130px;
    }

    .person {
        width: 100px;
    }

    .nextButton {
        left: 128px;
    }

    .uploadImageContainer {
        height: 615px;
    }

    .nextButton {
        top: 34px;
    }

}


@media(max-width: 500px) {

    .uploadImageContainer {
        width: 400px;
    }

    .uploadImageContainerHeadline {
        font-size: 27px;
    }

    .avatar {
        width: 53px;
    }

    .uploadText {
        font-size: 17px;
    }

    .uploadButton {
        width: 147px;
        height: 47px;
        font-size: 15px;
    }

    .uploadImageContainer {
        height: 604px;
    }

    .personCircle {
        width: 120px;
        height: 120px;
    }

}

@media(max-width: 430px) {

    .uploadImageContainer {
        width: 350px;
        height: 577px;
    }

    .uploadImageContainerHeadline {
        font-size: 23px;
    }

    .avatar {
        width: 43px;
    }

    .uploadText {
        font-size: 14px;
    }

    .uploadButton {
        width: 125px;
        height: 43px;
        font-size: 13px;
    }

    .nextButton {
        width: 125px;
        height: 43px;
        left: 98px;
    }

    .daBubbleLogo {
        width: 67px;
        }

    .text {
        font-size: 28px;
    }

}

@media(max-width: 375px) {

    .uploadImageContainer {
        width: 305px;
        height: 551px;
    }

    .uploadImageContainerHeadline {
        font-size: 18px;
    }

    .avatar {
        width: 37px;
    }

    .uploadButton {
        width: 111px;
        height: 38px;
        font-size: 12px;
    }

    .uploadText {
        font-size: 13.5px;
    }
    
    .nextButton {
        width: 111px;
        height: 38px;
        left: 89px;
    }

    .person {
        width: 75px;
    }

    .personCircle {
        width: 102px;
        height: 102px;
    }

}