<div class="uploadImageContainerPool">

    <div class="header">
        <div class="logoContainer">
            <img class="daBubbleLogo" src="assets\img\logos\daBubble-logo.png">
            <span class="text">DABubble</span>
        </div>
    </div>

    <div class="uploadImageContainer">

        <div class="headLineContainer">
            <img class="arrowBack" src="assets\img\arrow_back.png">
            <h1 class="uploadImageContainerHeadline">Wähle deinen Avatar</h1>
        </div>

        <div class="personCircle">
            <!---<img class="person" src="assets\img\person.png">-->
            <img class="person" [src]="imageCounter ? 'assets/img/avatars/avatar' + imageCounter + '.png' : 'assets/img/person.png'">

        </div>

        <span class="newUserName" *ngIf="user?.firstLastName">{{user.firstLastName}}</span>

        <div class="avatarsContainer">
            <span class="avatarsText">Aus der Liste wählen</span> 

            <div class="avatarsImages">
                <img class="avatar" (click)="selectImage(i)" *ngFor="let avatar of allAvatars; let i = index" src="assets/img/avatars/avatar{{i + 1}}.png">
                <!---Wir setzen den Zähler durch den Regler der im Typescript ist hoch und haben dadurch alle 5 Avatare abgebildet.-->
            </div>
        </div>

        <div class="uploadContainer">
            <span class="uploadText">Eigenes Bild verwenden</span>
            <!-- Button zum Auslösen des versteckten File Input -->
            <button class="uploadButton" (click)="hiddenFileInput.click()">Datei hochladen</button>
            <!-- Verstecktes Input-Element -->
            <input type="file" #hiddenFileInput (change)="handleFiles(hiddenFileInput.files)" style="display: none;">
        </div>

        <button (click)="addUser()" class="nextButton">Weiter</button>


    </div>

    <div class="footer">
        <span class="impressum">Impressum</span>
        <span class="datenschutz">Datenschutz</span>
    </div>

</div>