.postContainer {
    margin-top: 100px;
}

.postContentContainer {
    padding-left: 44px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: #ECEEFE;
    }

    &:hover .questionContainer {
        background-color: white;
    }

    &:hover .emojiContainer {
        display: flex;
    }


}

.emojiContainer {
    position: absolute;
    top: -36px;
    right: 40px;
    width: 300px;
    height: 50px;
    border: solid 1px black;

    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #babfe9;
    background-color: white;
    display: none;
}

.myEmojiContainer {
    position: absolute;
    top: -36px;
    left: 40px;
    width: 300px;
    height: 50px;
    border: solid 1px black;

    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #babfe9;
    background-color: white;
    display: none;
}

.postContent {
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}

.nameAndQuestion {
    display: flex;
}

.nameAndAnswerAndTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postImage {
    width: 50px;
    height: 50px;
}

.nameAndQuestion {
    margin-bottom: 10px;
}

.question {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 93%;
}

.questionContainer {
    width: 605px;
    height: 77px;
    display: flex;
    align-items: center;
    background-color: #ECEEFE;

    align-items: center;
    margin-bottom: 10px;
    justify-content: center;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
}


.name {
    margin-right: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #797EF3;
    }
}

.myName {
    margin-left: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #797EF3;
    }
}

.time {
    color: grey;
}

.timestampContainer {
    width: 100%;
    margin-bottom: 50px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Date {
    position: absolute;
    height: 35px;
    width: 124px;
    border: 1px solid black;
    border-radius: 19px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timestampContainer {
    position: relative;
}

.postLine {
    width: 94%;
    height: 2px;
}

.answerCount {
    margin-left: 25px;
    cursor: pointer;
    color: #797EF3;

    &:hover {
        color: #797EF3;
        font-weight: bold;

    }
}

.lastAnswer {
    margin-left: 25px;
}


.non-selectable {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by most browsers */
}

//////////////////////////////////////////////////////////////////////////////////////


.myPostContentContainer {

    padding-right: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row-reverse;


    &:hover {
        background-color: #ECEEFE;
    }


    &:hover .myEmojiContainer {
        display: flex;
    }
}

.myPostQuestionContainer {
    width: 605px;
    height: 77px;
    display: flex;
    align-items: center;
    background-color: #ECEEFE;
    position: relative;

    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #797EF3;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;


}


.myPostNameAndQuestion {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: row-reverse;

}

.myPostAnswerCountContainer {
    display: flex;
    justify-content: flex-end;
}

.myPostContent {
    margin-right: 30px;

    display: flex;
    flex-direction: column;
}



.test {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &:hover {
        background-color: #ECEEFE;
    }
}

.myQuestion {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 93%;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 100% 0%;
    width: 36%;

    button {
        background: transparent;
        border: 0;
        transform: translateX(-40px);
        cursor: pointer;

        &:focus {
            outline: 0;
        }
    }
}

.approvedImage {
    filter: brightness(0.9) hue-rotate(0deg) contrast(1.5);
}

.laughSmileybutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.laugh {
    width: 48px;
    height: 48px;
}

.showEmojisOfPost {
    display: flex;
}

.smallEmojiContainer {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #8A86F6;
    border-radius: 21px;
    margin-right: 10px;
}

.emoji-mart .emoji-mart-bar {
    display: none; /* Versteckt die Kategorieleiste */
  }