<div class="channelPool" *ngFor="let post of channelFirebaseService.allPosts">
    <div class="postContainer">

        <div class="timestampContainer non-selectable">
            <img class="postLine" src="assets/img/line.png">
            <span class="Date">{{ getFormattedDate(post) }}</span>
        </div>

        <div
            [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostContentContainer' : 'postContentContainer'">
            <img class="postImage" src="assets/img/avatars/avatar1.png">

            <div [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostContent' : 'postContent'">
                <div class="nameAndAnswerAndTime">
                    <div
                        [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostNameAndQuestion' : 'nameAndQuestion'">
                        <span
                            [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myName' : 'name'">{{post.authorName}}</span>
                        <span class="time">{{ getFormattedTime(post) }}</span>
                    </div>
                    <div
                        [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostQuestionContainer' : 'questionContainer'">
                        <span [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myQuestion' : 'question'">
                            {{post.textOfPost}}
                        </span>

                    </div>
                </div>

                <div
                    [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostAnswerCountContainer' : 'answerCountContainer'">
                    <span class="answerCount"></span>
                    <span class="lastAnswer">Letzte Antwort {{'11:25'}}</span>
                </div>

                <div class="showEmojisOfPost">


                    <div class="smallEmojiContainer"
                        *ngIf="(post.emojiInformations && post.emojiInformations?.nerd.likeCount.length > 0)">
                        <img src="assets/img/reactions/nerd.png"> {{post.emojiInformations.nerd.likeCount.length}}
                    </div>

                    <div class="smallEmojiContainer"
                        *ngIf="(post.emojiInformations && post.emojiInformations?.rocket.likeCount.length > 0)">
                        <img src="assets/img/reactions/rocket.png"> {{post.emojiInformations.rocket.likeCount.length}}
                    </div>

                    <div class="smallEmojiContainer"
                        *ngIf="(post.emojiInformations && post.emojiInformations?.laugh.likeCount.length > 0)">
                        <img class="laugh" src="assets/img/reactions/laugh.webp"> {{post.emojiInformations.laugh.likeCount.length}}
                    </div>

                    <div class="smallEmojiContainer"
                        *ngIf="(post.emojiInformations && post.emojiInformations?.handsUp.likeCount.length > 0)">
                        <img src="assets/img/reactions/handsUp.png"> {{post.emojiInformations.handsUp.likeCount.length}}
                    </div>

                    <div class="smallEmojiContainer"
                        *ngIf="(post.emojiInformations && post.emojiInformations?.approved.likeCount.length > 0)">
                        <img src="assets/img/reactions/approved.png">
                        {{post.emojiInformations.approved.likeCount.length}}
                    </div>

                </div>

            </div>

            <div [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myEmojiContainer' : 'emojiContainer'">
                <button (click)="channelFirebaseService.addEmojiToFirestore('approved', post)" mat-icon-button><img
                        class="approvedImage" src="assets/img/reactions/approved.png"></button>
                <button (click)="channelFirebaseService.addEmojiToFirestore('handsUp', post)" mat-icon-button><img
                        class="" src="assets/img/reactions/handsUp.png"></button>
                <button (click)="channelFirebaseService.addEmojiToFirestore('nerd', post)" mat-icon-button><img
                        class="" src="assets/img/reactions/nerd.png"></button>
                <button (click)="channelFirebaseService.addEmojiToFirestore('laugh', post)" class="laughSmileybutton" mat-icon-button><img class="laugh"
                        src="assets/img/reactions/laugh.webp"></button>
                <button (click)="channelFirebaseService.addEmojiToFirestore('rocket', post)" mat-icon-button><img class="" src="assets/img/reactions/rocket.png"></button>
                <button mat-icon-button><img class="" src="assets/img/reactions/comment.png"></button>

            </div>

        </div>
    </div>
</div>



<!--------------------------------------------------------------------------->


<!--<button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
<br /><emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
    title="Choose your emoji"></emoji-mart>

<div class="container">
    <p placeholder="Type a message" type="text" name="textarea" [(ngModel)]="textArea">dsdsddsdsd</p>

    <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
</div>-->

<!--<div class="postContainer" *ngFor="let post of channelFirebaseService.allPosts">

        <div class="timestampContainer non-selectable" *ngIf="post.authorOfPost == userFirebaseService.uid">
            <img class="postLine" src="assets/img/line.png">
            <span class="Date">{{ getFormattedDate(post) }} </span>
        </div>

        <div class="test">
            <div class="myPostContentContainer">

                <div class="myPostContent">
                    <div class="nameAndAnswerAndTime">
                        <div class="myPostNameAndQuestion">
                            <span class="name">{{post.authorOfPost}}</span>
                            <span class="time">{{ getFormattedDate(post)  | date: 'HH:mm' : 'Europe/Berlin' }}</span>
                        </div>
                        <div class="myPostQuestionContainer">
                            <span class="myQuestion">
                                {{post.textOfPost}}
                            </span>
                        </div>
                    </div>

                    <div class="myPostAnswerCountContainer">
                        <span class="answerCount">{{post.answers.length}}</span>
                        <span class="lastAnswer">Letzte Antwort {{post.dateOfPost}}</span>
                    </div>

                </div>

                <img class="postImage" src="assets/img/avatars/avatar1.png">


            </div>
        </div>

    </div>

</div>-->


<!---<div class="channelPool" *ngFor="let post of channelFirebaseService.allPosts">
    <div class="postContainer" *ngIf="post.authorOfPost != userFirebaseService.uid">

        <div class="timestampContainer non-selectable" >
            <img class="postLine" src="assets/img/line.png">
            <span class="Date"> tzz</span>
        </div>

        <div [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'mypostContentContainer' : 'postContentContainer'">
            <img class="postImage" src="assets/img/avatars/avatar1.png">

            <div class="postContent" [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostContent' : 'postContent'">
                <div class="nameAndAnswerAndTime">
                    <div  [ngClass]="post.authorOfPost == userFirebaseService.uid ? 'myPostNameAndQuestion' : 'nameAndQuestion'">
                        <span class="name">{{post.authorOfPost}}</span>
                        <span class="time"></span>
                    </div>
                    <div class="questionContainer">
                        <span class="question">
                           {{post.textOfPost}}
                        </span>
                        <div class="emojiContainer">
                            <button mat-icon-button><img class="approvedImage" src="assets/img/approved.png"></button>
                            <button mat-icon-button><img class="" src="assets/img/addReaction.png"></button>
                            <button mat-icon-button><img class="" src="assets/img/comment.png"></button>
                        </div>
                    </div>
                </div>

                <div class="answerCountContainer">
                    <span class="answerCount">{{post.answers.length}}</span>
                    <span class="lastAnswer">Letzte Antwort {{post.dateOfPost}}</span>
                </div>

            </div>


        </div>
    </div>-->