<div class="postContainer">

    <div class="timestampContainer non-selectable">
        <img class="postLine" src="assets/img/line.png">
        <span class="Date">Tag, Datum</span>
    </div>

    <div class="postContentContainer">
        <img class="postImage" src="assets/img/avatars/avatar1.png">

        <div class="postContent">
            <div class="nameAndAnswerAndTime">
                <div class="nameAndQuestion">
                    <span class="name">Noah Braun</span>
                    <span class="time">14:25 Uhr</span>
                </div>
                <div class="questionContainer">
                    <span class="question">
                        Meine Frage ist, wie ich etwas im Localstorage speichere. Ich habe vieles versucht aber habe es
                        leider nicht geschafft. Danke für eure Antworten.
                    </span>
                </div>
            </div>

            <div class="answerCountContainer">
                <span class="answerCount">2 Antworten</span>
                <span class="lastAnswer">Letzte Antwort 15:45</span>
            </div>

        </div>


    </div>
</div>

<!--------------------------------------------------------------------------->

<div class="postContainer">

    <div class="timestampContainer non-selectable">
        <img class="postLine" src="assets/img/line.png">
        <span class="Date">Tag, Datum</span>
    </div>

    <div class="test">
    <div class="myPostContentContainer">

        <div class="myPostContent">
            <div class="nameAndAnswerAndTime">
                <div class="myPostNameAndQuestion">
                    <span class="name">Noah Braun</span>
                    <span class="time">14:25 Uhr</span>
                </div>
                <div class="myPostQuestionContainer">
                    <span class="myQuestion">
                        Meine Frage ist, wie ich etwas im Localstorage speichere. Ich habe vieles versucht aber habe es
                        leider nicht geschafft. Danke für eure Antworten.
                    </span>
                </div>
            </div>

            <div class="myPostAnswerCountContainer">
                <span class="answerCount">2 Antworten</span>
                <span class="lastAnswer">Letzte Antwort 15:45</span>
            </div>

        </div>

        <img class="postImage" src="assets/img/avatars/avatar1.png">


    </div>

</div>