<div class="example-container">
    <div   class="example-sidenav">
      <div class="sidenavHeader">
        <div class="logoAndName">
          <img src="assets/img/logos/workspaceLogo.png">
          <h1 class="HeaderChannelText">DevSpace</h1>
        </div>

        <button class="createChannelButton" mat-icon-button> <img src="assets/img/createChannelButton.png"> </button>
      </div>

      <div class="channelSelectionContainer">

        <div class="channelsDropPool">

          <div (click)="dropChannels()" class="channelsDropGroup non-selectable">
            <img class="channelsNotDropped" src="assets/img/channelsNotDropped.png"
              [src]="showChannels ? 'assets/img/channelsDropped.png' : 'assets/img/channelsNotDropped.png'">
            <img class="channelIcon" src="assets/img/channelIcon.png">
            <h2 class="channelsDropGroupName">Channels</h2>
          </div>

          <button (click)="openDialog('0ms', '0ms')" class="createChannelButtonParent"
            class="createChannelCrossIconParent" mat-icon-button><img class="createChannelCrossIcon"
              src="assets/img/createChannelCrossIcon.png"></button>
        </div>


        <div *ngIf="showChannels" class="allChannels">
          <h2 *ngFor="let channel of channelFirebaseService.channels; let i = index"
            (click)="StyleSelectedChannel(i, channelFirebaseService.channels.length); selectedChannel(channel)"
            class="channel" [id]="'channel' + i">
            {{channel.nameOfChannel}}
          </h2>

          <!--<h2 (click)="selectChannel()" class="channel" id="channel"># Entwicklerteam</h2>
          <h2 class="channel" id="channel"># Javascript</h2>
          <h2 class="channel" id="channel"># CSS</h2>-->
        </div>

      </div>



      <div class="messagesSelectionContainer">

        <div class="messagesDropPool">

          <div (click)="dropMessages()" class="messagesDropGroup non-selectable">
            <img class="messagesNotDropped" src="assets/img/channelsNotDropped.png"
              [src]="showChannels ? 'assets/img/channelsDropped.png' : 'assets/img/channelsNotDropped.png'">
            <img class="messagesIcon" src="assets/img/accountCircle.png">
            <h2 class="messagesDropGroupName">Messages</h2>
          </div>


        </div>


        <!--<div *ngIf="showChannels" class="allMessages">
          <h2 *ngFor="let channel of channels; let i = index" (click)="selectChannel(i, channels.length)" class="channel" [id]="'channel' + i">
            {{channel}}
        </h2>
          
          <h2 (click)="selectChannel()" class="channel" id="channel"># Entwicklerteam</h2>
          <h2 class="channel" id="channel"># Javascript</h2>
          <h2 class="channel" id="channel"># CSS</h2>
        </div>-->

      </div>

    </div>

</div>