<div class="mainscreenPool">

    <div class="header">
        <div class="logoContainer">
            <img class="daBubbleLogo" src="assets\img\logos\daBubble-logo.png">
            <span class="text">DABubble</span>
        </div>


        <div class="inputContainer">

            <input class="inputSearch" type="text" placeholder="code learning durchsuchen">
            <img class="search" src="assets/img/search.png">
        </div>

        <div class="headerProfileContainer">
            <span class="headerProfileText">
                Frederick Freddie
            </span>
            <img class="profilePicture" src="assets/img/avatars/avatar1.png">

            <img class="keyboardArrowDown" src="assets/img/keyboardArrowDown.png">

        </div>

    </div>

</div>