<div class="mainscreenPool">

  <div class="header non-selectable">
    <div class="logoContainer">
      <div class="backMobileLogoContainer" (click)="channelFirebaseService.navigateToMainscreen()">

        <img (click)="channelFirebaseService.goBackToNavigator()" src="assets/img/arrowBackMobile.png">

        <img class="workSpaceLogoResponsive" src="assets/img/logos/workspaceLogo.png">
      </div>

      <img class="daBubbleLogo" src="assets\img\logos\daBubble-logo.png">
      <span class="text">DABubble</span>
    </div>


    <div class="inputContainer">
      <div>
        <input [formControl]="searchControl" class="inputSearch" type="text" placeholder="code learning durchsuchen" #search>
        <img class="search" src="assets/img/search.png">
      </div>

      <div *ngIf="filteredItems.length > 0" class="results-dropdown">
        <span *ngFor="let item of filteredItems" (click)="redirectUserOrChannel(item)" class="result-item">{{
          item.nameOfChannel || item.firstLastName }}
          <b>{{ item.nameOfChannel ? 'channel' : 'user' }}</b></span>
      </div>

    </div>

    <div class="headerProfileContainer">
      <span class="headerProfileText">
        {{userFirebaseService.loggedInUser.firstLastName}}
      </span>
      <img class="profilePicture" src="assets/img/avatars/avatar1.png">

      <img [matMenuTriggerFor]="matMenuLogout" class="keyboardArrowDown" src="assets/img/keyboardArrowDown.png">

      <mat-menu [backdropClass]="'custom-backdrop-logOut'" #matMenuLogout="matMenu">
        <div class="logOutContainer">
        <span (click)="openDialogMyProfile('0ms', '0ms'); channelFirebaseService.getProfileInformations(userFirebaseService.loggedInUser)" class="myProfile">Mein Profil</span>
        <span (click)="logOut()" class="logOut">Log Out</span>
      </div>
      </mat-menu>

    </div>

  </div>



  <div class="middleContainer">
    <ng-container *ngIf="isLargeScreen || channelFirebaseService.showChannelResponsive; else mobileContent">

      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer mode="side" [(opened)]="isSidenavOpen" class="example-sidenav" mode="side">
          <div class="sidenavHeader">
            <div class="logoAndName">
              <img src="assets/img/logos/workspaceLogo.png">
              <h1 class="HeaderChannelText">DevSpace</h1>
            </div>

            <button (click)="channelFirebaseService.createMessage()" class="createMessageButton" mat-icon-button>
              <img src="assets/img/createChannelButton.png">
            </button>
          </div>

          <div class="channelSelectionContainer">

            <div class="channelsDropPool">

              <div (click)="dropChannels()" class="channelsDropGroup non-selectable">
                <img class="channelsNotDropped" src="assets/img/channelsNotDropped.png"
                  [src]="showChannels ? 'assets/img/channelsDropped.png' : 'assets/img/channelsNotDropped.png'">
                <img class="channelIcon" src="assets/img/channelIcon.png">
                <h2 class="channelsDropGroupName">Channels</h2>
              </div>

              <button (click)="openDialog('0ms', '0ms')" class="createChannelButtonParent"
                class="createChannelCrossIconParent" mat-icon-button><img class="createChannelCrossIcon"
                  src="assets/img/createChannelCrossIcon.png"></button>
            </div>


            <div *ngIf="showChannels" class="allChannels">
              <h2 *ngFor="let channel of channelFirebaseService.channels; let i = index"
                (click)="StyleSelectedChannel(i, channelFirebaseService.channels.length); selectedChannel(channel)"
                class="channel" [id]="'channel' + i">
                {{channel.nameOfChannel}}
              </h2>

              <!--<h2 (click)="selectChannel()" class="channel" id="channel"># Entwicklerteam</h2>
            <h2 class="channel" id="channel"># Javascript</h2>
            <h2 class="channel" id="channel"># CSS</h2>-->
            </div>

          </div>



          <div class="messagesSelectionContainer">

            <div class="messagesDropPool">

              <div (click)="dropMessages()" class="messagesDropGroup non-selectable">
                <img class="messagesNotDropped" src="assets/img/channelsNotDropped.png"
                  [src]="showMessages ? 'assets/img/channelsDropped.png' : 'assets/img/channelsNotDropped.png'">
                <img class="messagesIcon" src="assets/img/accountCircle.png">
                <h2 class="messagesDropGroupName">Messages</h2>
              </div>
            </div>


            <div *ngIf="showMessages" class="allChannels">
              <h2 (click)="channelFirebaseService.openMessageToUser(privateMessage.user2)"
                *ngFor="let privateMessage of userFirebaseService.filteredUsers; let i = index"
                (click)="StyleSelectedChannel(i, channelFirebaseService.channels.length);" class="channel"
                [id]="'channel' + i">
                {{privateMessage.user2.firstLastName}}
              </h2>

              <!--<h2 (click)="selectChannel()" class="channel" id="channel"># Entwicklerteam</h2>
            <h2 class="channel" id="channel"># Javascript</h2>
            <h2 class="channel" id="channel"># CSS</h2>-->
            </div>

          </div>

        </mat-drawer>

      </mat-drawer-container>

      <div id="sidenav" class="toggleContainer2 non-selectable" (click)="drawer.toggle(); StyleSidenavButton()">
        Workspace-Menü schließen <img id="sidenavIcon" class="sidenavOpenerLogoClosed"
          [src]="sidenavOpen ? 'assets/img/sidenavOpenerLogoOpen.png' : 'assets/img/sidenavOpenerLogoClosed.png'"></div>

      <!--<div class="channelScreenPool">-->
      <div class="channelScreen">

        <div *ngIf="channelFirebaseService.currentChannel" class="channelHeader">
          <div (click)="openDialogToParticipants('0ms', '0ms')" class="channelName">
            <span>{{channelFirebaseService.currentChannel.nameOfChannel}}</span>
            <img class="arrowDownChannelInfo" src="assets/img/arrowDownChannelInfo.png">
          </div>


          <div class="channelParticipantsAndAddUsers">
            <div [matMenuTriggerFor]="menu" class="bundleParticipantsAndCount">
              <div class="participantsImagesContainer"
                *ngFor="let user of channelFirebaseService.currentChannelParticipants  | slice:0:3">
                <img *ngIf="user.image.startsWith('avatar')" [src]="'/assets/img/avatars/' + user.image + '.png'"
                  class="participants" alt="Avatar Image">
                <img *ngIf="!user.image.startsWith('avatar')" [src]="user.image" class="participants" alt="User Image">
              </div>

              <span *ngIf="channelFirebaseService.currentChannel?.permittedUsers?.length" class="numberOfParticipants">
                {{ channelFirebaseService.currentChannel.permittedUsers.length }}
              </span>



            </div>
            <div class="personAddContainer">
              <img [matMenuTriggerFor]="addUserToChannel" class="personAdd" src="assets/img/personAdd.png">
            </div>
          </div>


        </div>

        <mat-menu [backdropClass]="'custom-backdrop'" #addUserToChannel="matMenu">
          <div class="participantsMenu">
            <div (click)="$event.stopPropagation()">
              <div class="addPersonHeader">
                <h2 class="addPersonText">
                  Hinzufügen
                </h2>
                <img class="close" src="assets/img/close.png">
              </div>

              <div class="allParticipantsToAdd">

              </div>

              <div class="inputContainerForParticipants">
                <div>
                  <input [formControl]="searchControlForAddingParticipants" class="inputSearch" type="text"
                    placeholder="code learning durchsuchen">
                  <img class="search" src="assets/img/search.png">
                </div>

                <div *ngIf="filteredItemsForAddParticipants.length > 0" class="results-dropdownForParticipants">
                  <span *ngFor="let item of filteredItemsForAddParticipants; let i = index"
                    (click)="selectUserForChannelAdd(item)" class="result-item">{{item.nameOfChannel ||
                    item.firstLastName }}
                    <button class="addParticipantButton" [innerHTML]="channelFirebaseService.getText(i)"
                      (click)="channelFirebaseService.addUserToChannel(item, i)">Hinzufügen</button>
                  </span>
                </div>

              </div>

              <!--
              <div *ngFor="let user of allAddedUsers" class="allAddedUsers">
                <span class="addedUser">{{user.firstLastName}}</span>
              </div>
              -->

            </div>
          </div>
        </mat-menu>

        <mat-menu [backdropClass]="'custom-backdrop'" #menu="matMenu">
          <div (click)="$event.stopPropagation()" class="matmenuContainer">
            <div class="participantsHeader">
              <h2 class="participantsText">
                Mitglieder
              </h2>
              <img class="close" src="assets/img/close.png">
            </div>


            <div class="allParticipants">
              <div *ngFor="let participant of channelFirebaseService.currentChannelParticipants; let i = index"
                class="channel" [id]="'channel' + i">
                <img *ngIf="participant.image.startsWith('avatar')"
                  [src]="'/assets/img/avatars/' + participant.image + '.png'" class="participants" alt="Avatar Image">
                <img *ngIf="!participant.image.startsWith('avatar')" [src]="participant.image" class="participants"
                  alt="User Image">

                <h2 (click)="$event.stopPropagation()" class="participantName">
                  {{participant.firstLastName}}
                </h2>

              </div>
            </div>
          </div>
        </mat-menu>
        <!--<div class="selectChannelDisclaimer" *ngIf="!channelFirebaseService.currentChannel && channelFirebaseService.allMessages >= 0 == false && !channelFirebaseService.messageChoosedPerson && channelFirebaseService.disclaimer">-->

        <div class="selectChannelDisclaimer"
          *ngIf="!channelFirebaseService.currentChannel && channelFirebaseService.allMessages.length == 0 && !channelFirebaseService.messageChoosedPerson && channelFirebaseService.disclaimer">
          <h1>Pls select a channel</h1>
        </div>

        <app-channel id="scrollBehavior"
          *ngIf="channelFirebaseService.allPosts.length > 0 || channelFirebaseService.showErrorMessageForChannel"></app-channel>



        <app-private-chat *ngIf="channelFirebaseService.activatePrivateChatTemplate"></app-private-chat>

      </div>

      <!------------------------------------------------------------------------>
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer2 class="example-sidenav2" mode="side" position="end">
          <div class="mat-drawer-inner-container">

            <div class="sidenavHeaderThread">
              <div class="headerChannelContainer">
                <h1 class="headerChannelTextThread">Thread</h1>
                <span class="channelNameThread">#ChannelName</span>
              </div>

              <button (click)="closeDrawer()" class="closeThreadButton" mat-icon-button> <img class="closeThread"
                  src="assets/img/close.png"></button>

            </div>

            <div class="postContainerPool">

              <!--<div class="timestampContainer non-selectable">
                  <img class="postLine" src="assets/img/line.png">
                  <span class="Date">{{ getFormattedDate(post) }}</span>
              </div>-->

              <!------------POSTTHREAD-START----------------->
              <div ng class="postContainer" *ngIf="channelFirebaseService.threadPost">

                <div
                  [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myPostContentContainer' : 'postContentContainer'">




                  <div class="postimageContentBundle">
                    <img class="postImage" src="assets/img/avatars/avatar1.png">

                    <div
                      [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myPostContent' : 'postContent'">
                      <div class="nameAndAnswerAndTime">
                        <div
                          [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myPostNameAndQuestion' : 'nameAndQuestion'">
                          <span
                            [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myName' : 'name'">{{channelFirebaseService.threadPost.authorName}}</span>
                          <span class="time">{{ getFormattedTime(channelFirebaseService.threadPost) }}</span>
                        </div>
                        <div
                          [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myPostQuestionContainer' : 'questionContainer'">
                          <span
                            [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myQuestion' : 'question'">
                            {{channelFirebaseService.threadPost.textOfPost}}
                          </span>

                        </div>
                      </div>



                      <div class="showEmojisOfPost">


                        <div class="smallEmojiContainer"
                          *ngIf="(channelFirebaseService.threadPost.emojiInformations && channelFirebaseService.threadPost.emojiInformations?.nerd.likeCount.length > 0)">
                          <img src="assets/img/reactions/nerd.png">
                          {{channelFirebaseService.threadPost.emojiInformations.nerd.likeCount.length}}
                        </div>

                        <div class="smallEmojiContainer"
                          *ngIf="(channelFirebaseService.threadPost.emojiInformations && channelFirebaseService.threadPost.emojiInformations?.rocket.likeCount.length > 0)">
                          <img src="assets/img/reactions/rocket.png">
                          {{channelFirebaseService.threadPost.emojiInformations.rocket.likeCount.length}}
                        </div>

                        <div class="smallEmojiContainer"
                          *ngIf="(channelFirebaseService.threadPost.emojiInformations && channelFirebaseService.threadPost.emojiInformations?.laugh.likeCount.length > 0)">
                          <img class="laugh" src="assets/img/reactions/laugh.webp">
                          {{channelFirebaseService.threadPost.emojiInformations.laugh.likeCount.length}}
                        </div>

                        <div class="smallEmojiContainer"
                          *ngIf="(channelFirebaseService.threadPost.emojiInformations && channelFirebaseService.threadPost.emojiInformations?.handsUp.likeCount.length > 0)">
                          <img src="assets/img/reactions/handsUp.png">
                          {{channelFirebaseService.threadPost.emojiInformations.handsUp.likeCount.length}}
                        </div>

                        <div class="smallEmojiContainer"
                          *ngIf="(channelFirebaseService.threadPost.emojiInformations && channelFirebaseService.threadPost.emojiInformations?.approved.likeCount.length > 0)">
                          <img src="assets/img/reactions/approved.png">
                          {{channelFirebaseService.threadPost.emojiInformations.approved.likeCount.length}}
                        </div>

                      </div>

                    </div>
                  </div>


                  <div
                    [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myPostAnswerCountContainer' : 'answerCountContainer'">
                    <span class="answerCount">{{channelFirebaseService.allAnswersOfCurrentOpenedThread.length}}
                      Antworten</span>
                    <img class="lineThread" src="assets/img/lineThread.png">
                  </div>

                  <div
                    [ngClass]="channelFirebaseService.threadPost.authorOfPost == userFirebaseService.uid ? 'myEmojiContainer' : 'emojiContainer'">
                    <button class="approvedButton"
                      (click)="channelFirebaseService.addEmojiToFirestore('approved', channelFirebaseService.threadPost)"
                      mat-icon-button><img class="approvedImage" src="assets/img/reactions/approved.png"></button>
                    <button class="handsUpButton"
                      (click)="channelFirebaseService.addEmojiToFirestore('handsUp', channelFirebaseService.threadPost)"
                      mat-icon-button><img class="" src="assets/img/reactions/handsUp.png"></button>
                    <button class="nerdButton"
                      (click)="channelFirebaseService.addEmojiToFirestore('nerd', channelFirebaseService.threadPost)"
                      mat-icon-button><img class="" src="assets/img/reactions/nerd.png"></button>
                    <button class="laughSmileybutton"
                      (click)="channelFirebaseService.addEmojiToFirestore('laugh', channelFirebaseService.threadPost)"
                      mat-icon-button><img class="laugh" src="assets/img/reactions/laugh.webp"></button>
                    <button class="rocketButton"
                      (click)="channelFirebaseService.addEmojiToFirestore('rocket', channelFirebaseService.threadPost)"
                      mat-icon-button><img class="" src="assets/img/reactions/rocket.png"></button>
                    <button class="commentButton" mat-icon-button><img class=""
                        src="assets/img/reactions/comment.png"></button>
                  </div>





                </div>
              </div>

              <!--------------answerbaustelle----------->

              <div class="answerContainer" *ngFor="let answer of channelFirebaseService.allAnswersOfCurrentOpenedThread"
                [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myPostContentContainer' : 'postContentContainer'">

                <img *ngIf="answer.authorOfAnswer == userFirebaseService.uid" class="myDeleteTrash"
                  (click)="channelFirebaseService.deleteAnswer(answer)" src="assets/img/deleteTrash.png">

                <div class="timestampContainer non-selectable">
                  <img class="postLine" src="assets/img/line.png">
                  <span class="Date">{{ getFormattedDateForAnswer(answer) }}</span>
                </div>

                <div class="postimageContentBundle">
                  <img class="postImage" src="assets/img/avatars/avatar1.png">

                  <div [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myPostContent' : 'postContent'">
                    <div class="nameAndAnswerAndTime">
                      <div
                        [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myPostNameAndQuestion' : 'nameAndQuestion'">
                        <span
                          [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myName' : 'name'">{{answer.authorName}}</span>
                        <span class="time">{{ getFormattedTimeAnswer(answer) }}</span>
                      </div>
                      <div
                        [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myPostQuestionContainer' : 'questionContainer'">
                        <span [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myQuestion' : 'question'">
                          {{answer.answerText}}
                        </span>

                      </div>
                    </div>




                  </div>
                </div>

                <div
                  [ngClass]="answer.authorOfAnswer == userFirebaseService.uid ? 'myEmojiContainer' : 'emojiContainer'">
                  <button class="approvedButton"
                    (click)="channelFirebaseService.addAnswerEmojiToFirestore('approved', channelFirebaseService.threadPost, answer)"
                    mat-icon-button><img class="approvedImage" src="assets/img/reactions/approved.png"></button>
                  <button class="handsUpButton"
                    (click)="channelFirebaseService.addAnswerEmojiToFirestore('handsUp', channelFirebaseService.threadPost, answer)"
                    mat-icon-button><img class="" src="assets/img/reactions/handsUp.png"></button>
                  <button class="nerdButton"
                    (click)="channelFirebaseService.addAnswerEmojiToFirestore('nerd', channelFirebaseService.threadPost, answer)"
                    mat-icon-button><img class="" src="assets/img/reactions/nerd.png"></button>
                  <button class="laughSmileybutton"
                    (click)="channelFirebaseService.addAnswerEmojiToFirestore('laugh', channelFirebaseService.threadPost, answer)"
                    mat-icon-button><img class="laugh" src="assets/img/reactions/laugh.webp"></button>
                  <button class="rocketButton"
                    (click)="channelFirebaseService.addAnswerEmojiToFirestore('rocket', channelFirebaseService.threadPost, answer)"
                    mat-icon-button><img class="" src="assets/img/reactions/rocket.png"></button>
                  <button class="commentButton" mat-icon-button><img class=""
                      src="assets/img/reactions/comment.png"></button>
                </div>




                <div class="showEmojisOfAnswer">


                  <div class="smallEmojiContainer"
                    *ngIf="(answer.emojiInformations && answer.emojiInformations?.nerd.likeCount.length > 0)">
                    <img class="nerdAnswer" src="assets/img/reactions/nerd.png">
                    {{answer.emojiInformations.nerd.likeCount.length}}
                  </div>

                  <div class="smallEmojiContainer"
                    *ngIf="(answer.emojiInformations && answer.emojiInformations?.rocket.likeCount.length > 0)">
                    <img class="rocketAnswer" src="assets/img/reactions/rocket.png">
                    {{answer.emojiInformations.rocket.likeCount.length}}
                  </div>

                  <div class="smallEmojiContainer"
                    *ngIf="(answer.emojiInformations && answer.emojiInformations?.laugh.likeCount.length > 0)">
                    <img class="laughAnswer" class="laugh" src="assets/img/reactions/laugh.webp">
                    <span>{{answer.emojiInformations.laugh.likeCount.length}}</span>
                  </div>

                  <div class="smallEmojiContainer"
                    *ngIf="(answer.emojiInformations && answer.emojiInformations?.handsUp.likeCount.length > 0)">
                    <img class="handsUpAnswer" src="assets/img/reactions/handsUp.png">
                    {{answer.emojiInformations.handsUp.likeCount.length}}
                  </div>

                  <div class="smallEmojiContainer"
                    *ngIf="(answer.emojiInformations && answer.emojiInformations?.approved.likeCount.length > 0)">
                    <img class="approvedAnswer" src="assets/img/reactions/approved.png">
                    {{answer.emojiInformations.approved.likeCount.length}}
                  </div>

                </div>

              </div>
              <!--------------answerbaustelle----------->



              <div class="inputPostContainer">
                <input placeholder="Type a message" type="text" name="textarea" [(ngModel)]="textArea" #answerMessage
                  class="inputPost">

                <div class="iconsInputContainer">
                  <div class="allIcons">
                    <button class="addPost" mat-icon-button><img class="addPost" src="assets/img/addPost.png"></button>
                    <img class="postLine" src="assets/img/postLine.png">

                    <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
                      title="Choose your emoji"></emoji-mart>


                    <button (click)="toggleEmojiPicker()" mat-icon-button><img class="emojiPost"
                        src="assets/img/addEmojiPost.png"></button>
                    <button mat-icon-button><img class="markSomeone" src="assets/img/markSomeone.png"></button>
                  </div>

                  <button (click)="sendAnswer(answerMessage.value)" mat-icon-button><img class="send"
                      src="assets/img/send.png"></button>
                </div>

              </div>


              <!------------POST-END----------------->

            </div>

          </div>

        </mat-drawer>
      </mat-drawer-container>

      <!------------------------------------------------------------------------>
    </ng-container>


    <ng-template #mobileContent>
      <ng-container *ngIf="!channelFirebaseService.isVariableTrueForResponsive">
        <app-responsive-mainscreen></app-responsive-mainscreen>
      </ng-container>

      <ng-container *ngIf="channelFirebaseService.isVariableTrueForResponsiveOpenedThread">
        <app-opened-thread></app-opened-thread>
      </ng-container>

    </ng-template>




  </div>
</div>