.mainscreenPool {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 97%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profilePicture {
    width: 60px;
    height: 60px;
}

.keyboardArrowDown {
    width: 14px;
    height: 11px;
    margin-left: 24px;
    cursor: pointer;
}

.logOutContainer {
   
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myProfile {
    font-size: 30px;
    cursor: pointer;
    margin-top: 49px;
    color: #8363a1;
    border: 1px #a073c9 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;

    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }
}


.logOut {
    font-size: 30px;
    cursor: pointer;
    margin-top: 49px;
    color: #8363a1;
    border: 1px #a073c9 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;

    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 46px;
}

.daBubbleLogo {
    width: 90px;
    z-index: 2;
}

.workSpaceLogoResponsive {
    display: none;
}

.headerProfileText {
    font-size: 25px;
    margin-right: 24px;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
    color: black;
    z-index: 1;
}

.inputSearch {
    width: 100%;
    height: 60px;
    border-radius: 43px;
    text-indent: 60px;
}

.inputSearchParticipants {
    width: 90%;
    height: 60px;
    border-radius: 43px;
    text-indent: 60px;
}

.search {
    width: 27px;
    height: 27px;

    position: absolute;
    right: 39px;
    top: 16px;
}

.inputContainer {
    width: 40%;
    height: 60px;

    position: relative;
}

.inputContainerForParticipants {
    width: 100%;
    height: 60px;

    position: relative;
}

.headerProfileContainer {
    display: flex;
    align-items: center;
}

.toggleText {
    transform: rotate(-90deg);
    display: inline-block;
    height: 0%;
    width: 296%;
    position: absolute;
    left: -100px;
    bottom: 135px;
    margin: unset;
}

.middleContainer {
    //display: flex;
    width: 100%;
    height: 84%;
    display: flex;
}

.toggleContainer {
    height: 71px;
    background-color: blue;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: rotate(-90deg);
    position: absolute;
    left: -115px;
    top: 50%;
    z-index: 9999;
}

.toggleContainer2 {
    height: 71px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: rotate(-90deg);
    position: absolute;
    left: -115px;
    top: 60%;
    z-index: 9999;
    font-weight: bold;
    box-shadow: -1px 3px 6px -2px rgba(0, 0, 0, 0.5);

    &:hover {
        color: #535AF1;
        cursor: pointer;
    }

    &:hover .sidenavOpenerLogoClosed {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}

.d-none {
    display: none;
}

.mat-drawer-content {
    position: unset;
}




mat-drawer-container {
    display: unset;
    background-color: unset;
    overflow: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mat-drawer-inner-container {
    overflow: hidden;

}

.example-sidenav-content {
    width: 143px;
}

.example-sidenav {
    width: 300px;
    /* Setzen Sie hier die gewünschte Breite der Sidebar */
    border: 1px solid grey;

    border-radius: 30px;
    border: unset;
}

mat-drawer-content {
    position: unset;
    margin-left: 150px;
}

.channelScreen {
    position: relative;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    height: 94%;
    background-color: white;
    border-radius: 27px;
    transition: margin-left 0.3s ease;
    /* Smooth transition for the margin */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

app-channel {
    overflow-y: auto;
    width: 100%;
    padding-bottom: 211px;

}

.selectChannelDisclaimer {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEEFE;
}

.mat-mdc-menu-content ng-tns-c2786309385-1 {
    padding: unset !important;
}

.channelScreenPool {
    background-color: white;

}

.sidenavOpenerLogoClosed {
    transform: rotate(90deg);
    margin-left: 20px;
}

.non-selectable {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by most browsers */
}

body {
    margin: 0;
}

.sidenavHeader {
    margin-top: 12px;


    display: flex;
    justify-content: space-around;
    align-items: center;
}

.HeaderChannelText {
    margin: 0;
    margin-left: 16px
}

.logoAndName {
    display: flex;
    margin-right: 31px;
    align-items: center;
}



.createMessageButton {
    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}

.createChannelButton {
    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}


.createChannelButtonParent {

    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}


.channelSelectionContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.messagesSelectionContainer {
    display: flex;
    flex-direction: column;
}

.channelsDropPool {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.messagesDropPool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 28px;
}

.channelsDropGroup {
    display: flex;
    align-items: center;

    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }
}

.messagesDropGroup {
    display: flex;
    align-items: center;

    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }

}

.createChannelCrossIconParent {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .createChannelCrossIcon {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }
}

.createmessageCrossIconParent {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .createMessageCrossIcon {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }

}

.createChannelCrossIcon {
    width: 32px;
    height: 32px;
}

.createMessageCrossIcon {
    width: 32px;
    height: 32px;
}

.channelsNotDropped {
    margin-right: 12px;
}

.messagesNotDropped {
    margin-right: 12px;
}

.channelIcon {
    margin-right: 12px;
}

.messagesIcon {
    margin-right: 12px;
}

.channelsDropGroupName {
    margin: 0;
}

.messagesDropGroupName {
    margin: 0;
}

.allChannels {
    margin-top: 20px;
}

.allMessages {
    margin-top: 20px;
}

.channel {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
        cursor: pointer;
    }
}


.channelHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    height: 77px;
    width: 100%;
    z-index: 1;
    background-color: white;

    position: absolute;
    top: 0;
}



.channelName {
    font-size: 23px;
    font-weight: bold;
    margin-left: 51px;
    height: 49px;
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    &:hover {
        background-color: #ECEEFE;
        color: #797EF3;
        cursor: pointer;
    }

    &:hover .arrowDownChannelInfo {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}

.bundleParticipantsAndCount {
    height: 64px;
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    &:hover {
        background-color: #ECEEFE;
        color: #797EF3;
        cursor: pointer;
    }

    &:hover .numberOfPerticipants {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}

.arrowDownChannelInfo {
    margin-left: 12px;
}

.participantsImagesContainer {
    border-radius: 100%;
    width: 46px;
    height: 46px;
    margin-left: -20px;
    /* Negative Margen für Überlappung */
    border: white solid 3px;

}

.participants {
    border-radius: 100%;
    width: 46px;
    height: 46px;
    object-fit: cover;

}

.channelParticipantsAndAddUsers {
    display: flex;
    align-items: center;
    margin-right: 51px;
}

.personAdd {
    width: 28px;
    height: 31px;
}

.personAddContainer {
    margin-left: 20px;
    width: 49px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEEFE;
    border-radius: 100%;
    cursor: pointer;

    &:hover .personAdd {
        filter: invert(34%) sepia(77%) saturate(2175%) hue-rotate(228deg) brightness(98%) contrast(95%);
    }
}

.numberOfPerticipants {
    font-size: 24px;
    margin-left: 10px;
}

.participantsHeader {
    display: flex;
    justify-content: space-between;

}

.close {
    width: 15px;
    height: 15px;
}

.addPersonHeader {
    display: flex;
    justify-content: space-between;
}

.allParticipants {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 53px;
}

.participantName {
    padding-left: 17px;
    margin: 0;
}

.results-dropdown {
    z-index: 99;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.results-dropdownForParticipants {
    z-index: 99;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.result-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: fit-content;
    cursor: pointer;
    margin-left: 30px;

    &:hover {
        background-color: #c0c2fd;
    }
}

:host {
    background-color: blue;

}

.addParticipantButton {
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    border: solid 2px #b29fd3;

    &:hover {
        border: solid 3px #8e64d7;
    }
}

.myDeleteTrash {
    position: absolute;
    right: 4px;
    top: 7px;
    width: 25px;
    height: 25px;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    //transition: transform 0.1s ease-out;
    //transform-origin: -10% 0%;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.inputPost {
    width: 98.3%;
    height: 132%;
    border: solid 1px black;
    border-radius: 21px;
    outline: none;
    border: none;
}

.inputAnswerPost {
    width: 99.3%;
    height: 132%;
    border: solid 1px black;
    border-radius: 21px;
    outline: none;
    border: none;
}

.inputPostContainer {
    width: 85%;
    height: 170px;
    border-radius: 21px;
    margin-top: 35px;
    border: 1px solid;
    //padding-bottom: 20px;
    z-index: 1;
    background-color: white;

    position: absolute;
    bottom: 20px;

    display: flex;
    flex-direction: column;
}

.iconsInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allIcons {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.send {
    margin-right: 20px;
    cursor: pointer;
}

.addPost {
    margin-right: 16px;
    cursor: pointer;
}

.postLine {
    margin-right: 13px;
}

.emojiPost {
    margin-right: 13px;
    cursor: pointer;
}

.markSomeone {
    cursor: pointer;
}

.emoji-mart {
    background-color: black;
    position: absolute;
    bottom: 30px;
    left: 143px;
    z-index: 1;
}


.sidenavHeaderThread {
    padding-top: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerChannelTextThread {
    margin: 0;
    margin-left: 16px;
}

.channelNameThread {
    color: #7B76F5;
    margin-left: 12px;
}

.headerChannelContainer {
    display: flex;
    align-items: center;
}

.closeThread {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.closeThreadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}


///////////////////////////////////////////////////////////////////ALL STYLES FOR THREADPOST//////////////////////////////////////////////////////////////////

.postContainer {
    margin-top: 30px;
}


.postContainerPool {
    overflow-y: auto;
    height: 61%;
    padding-bottom: 204px;
    //padding-top: 50px;

    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postimageContentBundle {
    display: flex;
}

.lienThread {
    width: 53%;
}

.postContentContainer {
    padding-left: 18px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    flex-direction: column;

    &:hover {
        background-color: #ECEEFE;
    }

    &:hover .questionContainer {
        background-color: white;
    }

    &:hover .emojiContainer {
        display: flex;
    }
}

.emojiContainer {
    position: absolute;
    top: -48px;
    right: 40px;
    width: 244px;
    height: 50px;
    border: solid 1px black;

    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #babfe9;
    background-color: white;
    display: none;
}

.myEmojiContainer {
    position: absolute;
    top: -36px;
    left: 0px;
    width: 244px;
    height: 50px;
    border: solid 1px black;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #babfe9;
    background-color: white;
    display: none;
}

.postContent {
    margin-left: 30px;

    display: flex;
    flex-direction: column;
}

.nameAndQuestion {
    display: flex;
}

.nameAndAnswerAndTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postImage {
    width: 50px;
    height: 50px;
}

.nameAndQuestion {
    margin-bottom: 10px;
}

.question {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 93%;
}

.questionContainer {
    width: 605px;
    height: 77px;
    display: flex;
    align-items: center;
    background-color: #ECEEFE;

    align-items: center;
    margin-bottom: 10px;
    justify-content: center;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    position: relative;
}


.name {
    margin-right: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #797EF3;
    }
}

.myName {
    margin-left: 14px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #797EF3;
    }
}

.time {
    color: grey;
}

.timestampContainer {
    width: 100%;
    margin-bottom: 50px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Date {
    position: absolute;
    height: 35px;
    width: 124px;
    border: 1px solid black;
    border-radius: 19px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timestampContainer {
    position: relative;
}

.postLine {
    width: 94%;
    height: 2px;
}

.answerCount {
    color: #797EF3;
    margin-right: 15px;
}

.lastAnswer {
    margin-left: 25px;
}


.non-selectable {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by most browsers */
}

//////////////////////////////////////////////////////////////////////////////////////

.myPostContentContainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:hover {
        background-color: #ECEEFE;
    }

    &:hover .myEmojiContainer {
        display: flex;
    }

    &:hover .myDeleteTrash {
        visibility: visible;
        opacity: 1;
    }
}



.myPostQuestionContainer {
    width: 605px;
    height: 77px;
    display: flex;
    align-items: center;
    background-color: #ECEEFE;
    position: relative;

    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #797EF3;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}


.myPostNameAndQuestion {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: row-reverse;

}

.answerCountContainer {
    display: flex;
    align-items: center;
}

.myPostAnswerCountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPostContent {
    margin-right: 30px;

    display: flex;
    flex-direction: column;
}



.test {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &:hover {
        background-color: #ECEEFE;
    }
}

.myQuestion {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 93%;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 100% 0%;
    width: 36%;

    button {
        background: transparent;
        border: 0;
        transform: translateX(-40px);
        cursor: pointer;

        &:focus {
            outline: 0;
        }
    }
}

.lineThread {
    width: 60%;
}

.approvedImage {
    filter: brightness(0.9) hue-rotate(0deg) contrast(1.5);
}

.laughSmileybutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.laugh {
    width: 48px;
    height: 48px;
}

.showEmojisOfAnswer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showEmojisOfPost {
    display: flex;
    width: 100%;
}

.smallEmojiContainer {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #8A86F6;
    border-radius: 21px;
    margin-right: 10px;
}

.emoji-mart .emoji-mart-bar {
    display: none;
    /* Versteckt die Kategorieleiste */
}



.test {
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: none;
}


.threadQuestionContainer {
    width: 176px;
}


.approvedButton,
.handsUpButton,
.laughButton,
.commentButton,
.rocketButton,
.nerdButton {
    width: 26px !important;
    height: 26px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.questionContainer {
    width: 155px;
}

.myPostQuestionContainer {
    width: 155px;
}

.example-sidenav2 {
    width: 300px;
    /* Setzen Sie hier die gewünschte Breite der Sidebar */
    border: 1px solid grey;

    border-radius: 30px !important;
    border: unset !important;
}

.nerdAnswer {
    width: 20px;
}

.rocketAnswer {
    width: 20px;
}

.laughAnswer {
    width: 32px;
    height: 32px;
}

.handsUpAnswer {
    width: 20px;
}

.approvedAnswer {
    width: 20px;
}


.participantsMenu {
    height: 600px;
}

.backMobileLogoContainer {
    display: none;
}



@media(max-width: 1444px) {
    .middleContainer {
        justify-content: center;
        align-items: center;
    }

    .toggleContainer2 {
        display: none;
    }

    .backMobileLogoContainer {
        display: flex;
        align-items: center;
    }
}


@media(max-width: 1200px) {
    .daBubbleLogo {
        width: 70px;
    }

    .text {
        font-size: 32px;
    }

    .inputContainer {
        width: 29%;
    }

    .headerProfileText {
        font-size: 21px;
    }

    .profilePicture {
        width: 54px;
        height: 54px;
    }
}

@media(max-width: 1040px) {
    .search {
        right: 13px;
    }
}

@media(max-width: 950px) {

    .inputContainer {
        display: none;
    }

}

@media(max-width: 850px) {

    .middleContainer {
        width: 71%;
    }

    .questionContainer {
        width: 100%;
    }

    .channelScreen {
        position: relative;
        width: 450px;
    }

    .channelHeader {
        position: unset;
    }

    mat-drawer-container.mat-drawer-container.example-container.ng-star-inserted {
        display: none;
    }
}

@media(max-width:740px) {
    .middleContainer {
        width: 510px;
    }
}

@media(max-width: 600px) {

    .workSpaceLogoResponsive {
        display: inline;
    }

    .daBubbleLogo {
        display: none;
    }

    .headerProfileText {
        display: none;
    }

}


@media(max-width: 530px) {

    .channelScreen {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .middleContainer {
        width: 100%;
    }

    .mat-drawer-container {
        margin-left: 0;
        margin-right: 0;

    }

    .text {
        margin-top: 20px;

    }


    .logoContainer {
        display: flex;
        flex-direction: column;
    }
}


@media(max-width: 450px) {
    .channelHeader {
        justify-content: center;
    }



}


@media(max-width: 410px) {
    .arrowDownChannelInfo {
        margin-left: 5px;
    }

    .personAddContainer {
        margin-left: 0;
        position: relative;
        right: 10px;
    }

    .bundleParticipantsAndCount {
        width: 159px;
    }
}



@media(max-width: 350px) {

    .logoContainer {
        padding-left: 0;
    }

}