<div class="forgotPasswordContainerPool">


    <div class="header">
        <div class="logoContainer">
            <img class="daBubbleLogo" src="assets\img\logos\daBubble-logo.png">
            <span class="text">DABubble</span>
        </div>
    </div>
    <!---forgotPassword-->
    <div class="forgotPasswordContainer">
        <img class="arrow_back" src="assets\img\arrow_back.png">

        <h1 class="forgotPasswordContainerHeadline">Passwort zurücksetzen</h1>

        <span class="forgotPasswordIntroduction">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

        <form class="formContainer" [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails()">


            <div class="emailInputContainer">
                <img class="mail" src="assets/img/mail.png">
                <input type="email" class="firstLastNameInput" matInput placeholder="E-Mail Adresse"
                    formControlName="email" required>
            </div>

            <span class="forgotPasswordIntroduction2">Wir senden Ihnen eine E-Mail, über die<br>
                Sie Ihr Passwort ändern können.</span>

            <div class="buttonsContainer">
                <button class="nextButton" type="submit"
                    [disabled]="!userDetailsForm.valid">E-Mail senden</button>
            </div>

        </form>

    </div>


    <div class="footer">
        <span class="impressum">Impressum</span>
        <span class="datenschutz">Datenschutz</span>
    </div>

</div>