.text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
}

.daBubbleLogo {
    width: 80px;
}

.logoContainer {
    display: flex;
    align-items: center;
}