.loginContainerPool {
    height: 100vh;
    width: 100%;
    background-color: #ECEEFE;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.animationWindow {
    background-color: #5C62ED;
    width: 100%;
    height: 100vh;
    animation: effect 2s 3.7s both;
    z-index: 1;
    position: absolute;
}

@keyframes effect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
    position: absolute;
    color: white;
    z-index: 1;

    animation-direction: normal;
    animation-delay: 250ms;
    animation: textLogo 2s 0.7s both, textColor 2s 3.7s both;
}

@keyframes textColor {
    0% {
        color: white;

    }


    100% {
        color: black;

    }
}

@keyframes textLogo {
    0% {
        right: 10px;

    }

    100% {

        right: -100px;
        background-color: unset;
        color: black;

    }
}

.daBubbleLogo {
    position: absolute;

    animation-direction: normal;
    animation-delay: 250ms;
    animation: daBubbleLogo 1s 0.7s both, eraseBackground 2s 1.5s both, sizeOfLogo 2s 2.5s both;
    background-color: #5C62ED;
    z-index: 2;
}

@keyframes sizeOfLogo {
    0% {
        width: 138px;
    }

    100% {
        width: 100px;
    }
}

@keyframes eraseBackground {
    0% {}

    100% {
        background-color: unset;
    }
}

@keyframes daBubbleLogo {
    0% {
        right: 0px;
    }

    100% {
        right: 100px;
        background-color: unset;
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10%;
    top: 10%;

    animation-direction: normal;
    animation-delay: 250ms;
    animation: logoMoving 3s 2.7s both;
}

@keyframes logoMoving {
    0% {
        width: 200px;
        height: 200px;
        left: 40%;
        top: 40%;
    }

    100% {
        left: 11%;
        top: 4%;
    }
}

.loginHeaderContainer {}

.createAccountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.createAccountContainerResponsive {
    display: flex;
    flex-direction: column;
    align-items: center;

    display: none;
}

.createAccountText {
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    width: 129px;
    justify-content: center;
    color: #797EF3;
    margin-top: 20px;
    font-size: 17px;

    &:hover {
        border-radius: 15px;
        border: solid 1px #797EF3;
    }
}

.newMemberHeadline {
    font-size: 19px;
}

.loginContainer {
    width: 510px;
    height: 660px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 15px;
    position: relative;
    top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainerHeadline {
    font-size: 41px;
    font-weight: bold;
    color: #444DF2;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.LoginIntroduction {
    font-size: 17px;
    padding-top: 23px;
    text-align: center;
}

.emailInputContainer {
    width: 106%;
    height: 100%;
    margin-top: 21px;
    position: relative;
}

.mail {
    position: absolute;
    left: 23px;
    top: 21px;
}

.lockIcon {
    position: absolute;
    left: 23px;
    top: 47px;
}

.emailInput {
    width: 100%;
    height: 50px;
    border-radius: 28px;
    text-indent: 60px;
    
    outline: none;
    border: none;
    background-color: #ECEEFE;

    &:focus {
        border: solid 0.5px #797EF3;
    }
}

.passwordInput {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 28px;
    text-indent: 60px;
    outline: none;
    border: none;
    background-color: #ECEEFE;

    &:focus {
        border: solid 0.5px #797EF3;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.forgotPasswordText {
    color: #797EF3;
    margin-top: 30px;

    &:hover {
        cursor: pointer;
    }
}

.lineContainer {
    display: flex;
    align-items: center;
    padding-top: 23px;
}

.line1 {
    width: 176px;
    height: 2.1px;
    margin-right: 10px;
}

.line2 {
    width: 176px;
    height: 2.1px;
    margin-left: 10px;
}

.googleContainer {
    margin-top: 23px;
    width: 353px;
    min-height: 55px;
    border-radius: 28px;
    background-color: #ECEEFE;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        border: solid 0.5px #797EF3;
    }
}

.googleIcon {
    margin-right: 15px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 36px;
}

.loginButton {
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: #444DF2;
    margin-right: 15px;
    font-weight: bold;
    font-size: 17px;
    border: none;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #8389fd;
    }
}

.guestButton {
    width: 130px;
    height: 48px;
    border-radius: 28px;
    border: 0.5px #444DF2 solid;
    margin-left: 15px;
    color: #444DF2;
    background-color: white;
    font-weight: bold;
    font-size: 17px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #444DF2;
        color: white;
    }
}



////////////////Responsive CSS Area////////////////////

@media(max-width: 1100px) {

    .daBubbleLogo {
        position: absolute;

        animation-direction: normal;
        animation-delay: 250ms;
        animation: daBubbleLogo 1s 0.7s both, eraseBackground 2s 1.5s both, sizeOfLogoResponsive 2s 2.5s both;
        background-color: #5C62ED;
        z-index: 2;
    }

    @keyframes sizeOfLogoResponsive {
        0% {
            width: 138px;
        }

        100% {
            width: 80px;
        }
    }

    .text {
        font-size: 30px;
        animation: textLogoResponsive 2s 0.7s both, textColor 2s 3.7s both;
    }

    @keyframes textLogoResponsive {
        0% {
            right: 50px;
        }

        100% {
            right: -50px;
            background-color: unset;
            color: black;
        }
    }

}


@media(max-width: 800px) {

    .daBubbleLogo {
        position: absolute;

        animation-direction: normal;
        animation-delay: 250ms;
        animation: daBubbleLogo 1s 0.7s both, eraseBackground 2s 1.5s both, sizeOfLogoResponsive 2s 2.5s both;
        background-color: #5C62ED;
        z-index: 2;
    }


    .logoContainer {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 10%;
        top: 10%;

        animation-direction: normal;
        animation-delay: 250ms;
        animation: logoMovingResponsive 3s 2.7s both;

    }

    @keyframes logoMovingResponsive {
        0% {
            width: 200px;
            height: 200px;
            left: 40%;
            top: 40%;
        }

        100% {
            left: 50%;
            top: 4%;
        }

    }

    .createAccountContainerResponsive {
        display: unset;
        position: absolute;
        bottom: 13px;

        display: flex;
        flex-direction: column;
    }

    .createAccountContainer {
        display: none;
    }

    .loginContainer {
        top: 18px;
    }

}

@media(max-width: 550px) {

    .loginContainer {
        width: 430px;
    }

    .LoginIntroduction {
        font-size: 14px;
    }

.emailInputContainer {
    width: 90%;
}

.logoContainer {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 10%;
    top: 10%;

    animation-direction: normal;
    animation-delay: 250ms;
    animation: logoMovingResponsive 3s 2.7s both;

}

@keyframes logoMovingResponsive {
    0% {
        width: 200px;
        height: 200px;
        left: 30%;
        top: 40%;
    }

    100% {
        left: 40%;
        top: 4%;
    }

}

}

@media(max-width: 450px) {

    .loginContainer {
        width: 380px;
    }

    .emailInputContainer {
        width: 93%;
    }

.line1 {
    width: 150px;
}

.line2 {
    width: 150px;
}



}

@media(max-width: 410px) {

    .loginContainer {
        width: 330px;
    }

    .emailInputContainer {
        width: 95%;
    }

    .line1 {
        width: 128px;
    }

    .line2 {
        width: 128px;
    }


    .LoginIntroduction {
        font-size: 12px;
    }

    .googleContainer {
        width: 283px;
    }


    .logoContainer {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 10%;
        top: 10%;

        animation-direction: normal;
        animation-delay: 250ms;
        animation: logoMovingResponsive 3s 2.7s both;

    }

    @keyframes logoMovingResponsive {
        0% {
            width: 200px;
            height: 200px;
            left: 25%;
            top: 40%;
        }

        100% {
            left: 40%;
            top: 4%;
        }

    }

}

@media(max-width: 350px) {

    .loginContainer {
        width: 312px;
    }

    .line1 {
        width: 120px;
    }
    
    .line2 {
        width: 120px;
    }

}