<div class="loginContainerPool">

    <div class="animationWindow">

    </div>

    <div class="loginHeaderContainer">
        <div class="logoContainer">
            <img class="daBubbleLogo" src="assets\img\logos\daBubble-logo.png">
            <span class="text">DABubble</span>
        </div>

        <div class="createAccountContainer">
            <span class="newMemberHeadline">Neu bei DaBubble!</span>
            <span class="createAccountText">Konto erstellen</span>
        </div>

    </div>



    <div class="loginContainer">

        <h1 class="loginContainerHeadline">Anmelden</h1>

        <span class="LoginIntroduction">Wiir empfehlen dir, die E-Mail-Adresse zu nutzen, die<br>
            du bei der Arbeit verwendest.</span>

            <!--<form [formGroup]="fs.userDetailsForm" (ngSubmit)="fs.onSubmitUserDetails(fs.userDetailsForm.value)"><!--Hier setzen wir unseren form Container
            mit der Funktion onSubmitUserDetails() die alle inputs innerhalt des formGroup bearbeitet-->

        <!--</form>-->
    </div>

</div>