.registerContainerPool {
    height: 100vh;
    width: 100%;
    background-color: #ECEEFE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
}

.daBubbleLogo {
    width: 90px;
    z-index: 2;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
    color: black;
    z-index: 1;
}

.logoContainer {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    padding-left: 46px;
}



.registerContainer {
    width: 510px;
    height: 570px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow_back {
    position: absolute;
    left: 45px;
    top: 60px;

    &:hover {
        cursor: pointer;
    }
}

.footer {
    margin-top: 60px;
}

.registerContainerHeadline {
    font-size: 41px;
    font-weight: bold;
    color: #444DF2;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.registerIntroduction {
    font-size: 17px;
    padding-top: 23px;
    text-align: center;
}

.formContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailInputContainer {
    width: 79%;
    height: 100%;
    margin-top: 21px;
    position: relative;
}

.mail {
    position: absolute;
    left: 23px;
    top: 21px;
}

.lockIcon {
    position: absolute;
    left: 23px;
    top: 16px;
}

.emailInput {
    width: 100%;
    height: 50px;
    border-radius: 28px;
    text-indent: 60px;

    outline: none;
    border: none;
    background-color: #ECEEFE;

    &:focus {
        border: solid 0.5px #797EF3;
    }
}

.firstLastNameInput {
    width: 100%;
    height: 50px;
    border-radius: 28px;
    text-indent: 60px;

    outline: none;
    border: none;
    background-color: #ECEEFE;

    &:focus {
        border: solid 0.5px #797EF3;
    }
}

.passwordInput {
    width: 100%;
    height: 50px;
    border-radius: 28px;
    text-indent: 60px;

    outline: none;
    border: none;
    background-color: #ECEEFE;

    &:focus {
        border: solid 0.5px #797EF3;
    }
}

.nextButton {
    width: 130px;
    height: 48px;
    border-radius: 28px;
    background-color: #444DF2;
    margin-right: 15px;
    font-weight: bold;
    font-size: 17px;
    border: none;
    color: white;
    margin-top: 30px;
    position: relative;
    top: 15px;
    left: 138px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #8389fd;
    }
}

.checkboxContainer {
    margin-top: 30px;
    position: relative;
    right: 50px;

    display: flex;
}

.dataText {
    font-size: 16px;
   color: #8389fd;
}

.checkText {
    font-size: 12px;
}

.checkBox {


    &:hover {
        cursor: pointer;
    }
}

.footer {
    display: flex;
    justify-content: center;
    width: 17%;
}

.impressum {
    font-size: 16px;
    color: #8389fd;
    padding-right: 30px;
}

.datenschutz {
    font-size: 16px;
    color: #8389fd;
    padding-left: 30px;

}

////////////////Responsive CSS Area////////////////////

@media(max-width: 1100px) {

    .daBubbleLogo {
        position: absolute;

        width: 80px;
        animation-direction: normal;
        animation-delay: 250ms;
        z-index: 2;
    }

    .text {
        font-size: 30px;
        position: relative;
        left: 91px;
    }
}

@media(max-width: 555px) {

    .registerContainerPool {
        justify-content: center;
    }

.logoContainer {
    position: relative;
    left: 18%;
    top: 4%;
}

    .registerContainer {
        width: 430px;
    }

.registerIntroduction {
    font-size: 16px;
}

.checkboxContainer {
    right: 20px;
}  

.arrow_back {
    left: 32px;
}

}

@media(max-width: 470px) {

    .logoContainer {
        left: 14%;
    }

    .registerContainer {
        width: 378px;
    }

    .registerIntroduction {
        font-size: 13px;
    }

    .checkboxContainer {
        right: -6px;
    }

    .nextButton {
        left: 106px;
    }

.arrow_back {
    width: 17px;
    position: absolute;
    left: 25px;
    top: 57px;
}

.registerContainerHeadline {
    font-size: 34px;
}

.registerIntroduction {
    padding-top: 14px;
}
}

@media(max-width: 410px) {
    .registerContainer {
        width: 331px;
        height: 549px;
    }

    .checkText {
        font-size: 13px;
    }

    .dataText {
        font-size: 13px;
    }

    .nextButton {
        width: 119px;
        height: 47px;
        left: 87px;
    }

    .registerContainerHeadline {
        font-size: 28px;
    }

    .arrow_back {
        width: 14px;
        top: 60px;
    }

    .logoContainer {
        left: 6%;
    }
}


@media(max-width: 360px) {

    .registerContainer {
        width: 310px;
        height: 549px;
    }

    .registerIntroduction {
        font-size: 11.5px;
    }

    .registerContainerHeadline {
        font-size: 26px;
    }

    .nextButton {
        width: 110px;
        height: 44px;
    }

    .logoContainer {
        left: 3%;
    }

}